.analyticsContainer {
  min-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  margin-left: 15px;
}

.analyticsContainerHeader {
  flex-shrink: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  height: 80px;
  margin-top: 15px;
  margin-left: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.analyticsMain {
  box-sizing: border-box;
  padding-right: 10px;
  display: grid;
  max-width: 900px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-height: fit-content;
}

.analyticsMainSection {
  padding: 12px;
  box-sizing: border-box;
  background-color: #f9fcff;
  border-radius: 8px;
}

.analyticsMainItemContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24.51px;
  text-align: left;
}

.analyticsMainItemColor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #90c4cc;
  margin-right: 10px;
}
.analyticsMainItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
