.taskOverviewContainer {
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.taskOverviewHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskOverviewMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.taskOverviewMain .loader {
  color: #17a2b8;
}
.taskOverviewMainContainer {
  width: 100%;
  max-width: 654px;
  height: fit-content;
  max-height: 546px;
  border-radius: 12px;
  border: 2px solid #d0d0d0;
  opacity: 1;
  padding: 20px;
  overflow: hidden;
}

.taskOverviewMainContainerPriority {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #707070;
  font-size: 10px;
  font-weight: 500;
}

.taskOverviewMainPriorityColor {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.taskOverviewMainHeader {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  text-align: left;
}

.taskOverviewMainChecklist {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskOverviewMainChecklistHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.taskOverviewMainChecklistItems {
  overflow-y: auto;
  max-height: 400px;
}

.taskOverviewChecklistItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 4px;
}

.taskOverviewChecklistItem input[type="checkbox"] {
  margin: 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.taskOverviewChecklistItem input[type="checkbox"]:checked {
  accent-color: #17a2b8;
}

.taskOverviewChecklistItem span {
  line-height: normal;
  margin: 0;
}
.taskOverviewMainDueDate {
  padding: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

.taskOverviewMainDueDate > span {
  margin-left: 10px;
  padding: 2px 6px;
  border-radius: 8px;
  color: white;
  background-color: #cf3636ed;
}

@media (max-width: 768px) {
  .taskOverviewMainContainer {
    padding: 15px;
    border: 1px solid #d0d0d0;
  }

  .taskOverviewMainHeader {
    font-size: 20px;
  }

  .taskOverviewMainChecklistHeader {
    font-size: 14px;
  }

  .taskOverviewMainDueDate {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .taskOverviewMainContainer {
    max-width: 90%;
  }

  .taskOverviewMainHeader {
    font-size: 18px;
  }

  .taskOverviewMainChecklistHeader {
    font-size: 12px;
  }
}
