.logoutContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.logoutContent {
  background-color: white;
  width: 300px;
  height: 180px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
}
.logoutHeader {
  font-size: 15px;
  font-weight: 600;
  line-height: 27.24px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.logoutContent > button {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 550;
}

.logoutButton {
  width: 100%;
  border: none;
  color: white;
  background-color: #17a2b8;
}

.cancelLogout {
  color: red;
  background-color: transparent;
  border: 1px solid red;
}

.cancelLogout:hover {
  background-color: rgb(216, 66, 66);
  color: white;
}
