.taskExcerptContainer {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px;
}

.taskExcerptTop {
  display: flex;
  justify-content: space-between;
}

.taskExcerptPriority {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 8px;
  font-weight: 500;
  text-align: left;
}

.taskExcerptPriorityColor {
  border-radius: 100%;
  height: 7px;
  width: 7px;
}

.taskExcerptTopOptions > button {
  background-color: transparent;
  border: none;
  position: relative;
}

.taskExcerptTopOptionsDropdown {
  z-index: 5;
  position: absolute;
  right: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 151px;
  height: fit-content;
  background-color: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
}

.taskExcerptTopOptionsDropdown > button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  padding-left: 4px;
  border-radius: 4px;
}
.taskExcerptTopOptionsDropdown > button:hover {
  background-color: #f5f5f5;
}

.deleteTaskButton {
  color: #ff0000;
}

.taskExcerptHeader {
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: white-space 0.2s ease;
}

.taskExcerptUserAvatar {
  font-size: 8px;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #ffebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskExcerptChecklistHeader {
  box-sizing: border-box;
  padding: 0px 8px 0px 4px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
}

.taskExcerptChecklistHeader > button {
  background-color: #e2e2e2;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 3px;
}

.taskExcerptChecklistHeader > button img {
  width: 100%;
  height: 100%;
}
.taskExcerptChecklistItems {
  margin: 8px 0;
  padding: 0px 4px;
  box-sizing: border-box;
}
.taskExcerptChecklistItem {
  padding: 8px;
  display: flex;
  align-items: center;
  margin-top: 7px;
  gap: 5px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  white-space: normal;
}

.taskExcerptChecklistItem input[type="checkbox"] {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.taskExcerptChecklistItem > span {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  white-space: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.taskExcerptChecklistItem input[type="checkbox"]:checked {
  accent-color: #17a2b8;
}

.taskExcerptLoading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.taskExcerptLoading .loader {
  color: #17a2b8;
}

.taskExcerptBottom {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.taskExcerptButton {
  justify-content: end;
  padding-right: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.taskExcerptButtonItem {
  text-transform: uppercase;
  background-color: #eeecec;
  padding: 4px 6px;
  border-radius: 8px;
  border: none;
  font-size: 8px;
  font-weight: 500;
  line-height: 12px;
}

.taskExcerptBottomDate {
  font-size: 8px;
  font-weight: 500;
  line-height: 12px;
  background-color: #eeecec;
  width: fit-content;
  padding: 4px 6px;
  border-radius: 8px;
  margin-left: 8px;
}

.taskExcerptBottomDateHigh {
  background-color: #cf3636 !important;
  color: #ffffff;
}

.taskExcerptBottomDateDone {
  background-color: #63c05b !important;
  color: #ffffff;
}
